.skills1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;

}
.skills1 h1{
    font-family: 'Inconsolata', sans-serif;
    font-size: 36px;
    font-weight: 600;

}
.skills1 p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    
}
.row1
{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}
.skill-col1
{
    flex-basis: 31%;
    background: rgba(163, 201, 184, 0.616);;
    /* background: #fde6e6; */
    border-radius: 19px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
} 

/* contact button */



@media(max-width: 700px) {
    .row1{
        flex-direction: column;
        
    }
    

    
}
